html{
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:url("../images/wallpaper\ animation.jpeg");
    background-attachment: fixed;
    color: white;
}

#welcome {
    font-size: 7em;
    text-align: center;
}

#welcome-text {
    text-align: center;
}

#welcome-text a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}

#welcome-text a:hover {
    color: red;
}

#play-area {
    display: none;
    background-color: white;
    color: black;
    width: 50%;
    margin-top: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border: 1px solid black;
    padding: 1em;
    border-style: dotted;
    border-radius: 10px;
}


#game {
    display: none;
    border:1px solid black;
    padding:1%;
    border-radius: 10px;
}

#button {
    width: 40%;
    margin: 10% auto;
}

#button button {
    background-color: rgb(67, 95, 99);
    width: 100%;
    color: white;
    padding: 5px;
    border: wheat;
    border-radius: 10px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    margin-top: 5%;
}

#run {
    width: 60%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#run button {
    border-radius: 10%;
    padding: 20px 25px;
    border: 1px solid black;
    background-color: white;
}

#run button:hover {
    cursor: pointer;
}

#computer-choise {
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    width: 50%;
    margin: 1px auto;
    padding: 5% 0% 5% 40%;
    border-radius: 10px;
}

#you-out,#computer-out{
    color: red;
    text-align: center;
    display: none;
}

#you-won,#computer-won{
    color: rgb(0, 55, 255);
    text-align: center;
    display: none;
}

@media only screen and (max-width: 600px) {
    #play-area{
        min-width: 70%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #welcome{
        font-size: 3em;
    }
    body{
        background: url("../images/download.jpeg");
    }
  }